<div
	class='card card-body p-4 rounded-0 bg-dark text-white'
>
	<h3>
		Add A Project
	</h3>
	<form action='/project/add' method='post' class='m-0'>
		<div class='mb-2'>
			<label for='title'>Write a title:</label>
			<input
				type='text'
				name='title'
				id='title'
				placeholder='title'
				class='form-control rounded-0 bg-dark text-white'
				required
			/>
		</div>
		<div class='mb-2'>
			<label for='url'>URL:</label>
			<input
				type='url'
				name='url'
				id='url'
				placeholder='URL'
				class='form-control rounded-0 bg-dark text-white'
				required
			/>
		</div>
		<div class='mb-2'>
			<label for='url_repository'>Repository URL:</label>
			<input
				type='url'
				name='url_repository'
				id='url_repository'
				placeholder='repository URL'
				class='form-control rounded-0 bg-dark text-white'
			/>
		</div>
		<div class='mb-2'>
			<label for='imageUrl'>Image URL:</label>
			<input
				type='url'
				name='image'
				id='imageUrl'
				placeholder='image url'
				class='form-control rounded-0 bg-dark text-white'
			/>
		</div>
		<div class='mb-2'>
			<label for='description'>Description:</label>

			<textarea
				required
				name='description'
				placeholder='description'
				id='description'
				cols='30'
				rows='6'
				class='form-control rounded-0 bg-dark text-white'
			></textarea>
		</div>
		<div class='d-grid'>
			<button class='btn btn-primary mt-3'>Add</button>
		</div>
	</form>
</div>